@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-box {
  display: flex;
  width: 50%;
  padding: 3rem;
  background-color: #f8f8f6;
  /* background: pink; */
  text-align: center;
  margin: auto;
  margin-top: 4%;
  box-shadow: 0 0 5.3px rgb(114, 114, 114);
  box-shadow: 0 0 8px rgba(124, 124, 124, 0.342);
}
.login-image {
  width: 90%;
}
.the-form {
  padding: 2rem;
  width: 900px;
  text-align: left;
  background: white;
  box-shadow: 0 0 8px rgb(226, 226, 226);
}
.the-form h1 {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-weight: 700;
}
input[type="email"],
input[type="password"] {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  height: 35px;
  border: 2px solid black;
  border-radius: 6px;
  opacity: 0.3;
  padding: 10px 0px 10px 10px;
  margin-top: 4px;
  margin-bottom: 15px;
}
label {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 13px;
  margin-left: 2px;
}
button {
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 13px;
  font-family: Montserrat;
  font-weight: 500;
  /* background: black; */
  background: #beaa9a;
  color: white;
  margin-top: 14px;
  margin-bottom: 8px;
}
a {
  color: #beaa9a;
}
.remember {
  color: black;
  font-weight: 300;
  position: relative;
  top: -1.6px;
}
